<h3><%= @ocean.name %></h3>
<ul>
  <li>Deepest point: <%= @ocean.depth %>m</li>
  <li>Mean-depth: <%= @ocean.mean_depth %>m</li>
</ul>

<%= image_tag @ocean.image %>

<%= button_to("Drain Ocean!", ocean_delete_path(@ocean.id)) %>
<%= link_to("Edit Ocean", ocean_edit_path(@ocean.id)) %>
