%h1 Admin List of Users

- @users.in_groups_of(3) do |user|
  .row
    - user.compact.each do |user|
      .col-md-4
        .user_index
          = link_to(image_tag(user.image), user)
          %h2= link_to(user.name, user)
          %h4
            %li
              ID: #{user.id}
            %li
              Cohort ID: #{user.cohort_id}
            %li
              Year: #{user.name}
            %li
              Admin: #{user.is_admin}
            %li
              Updated: #{user.updated_at}