<a href="<%=@video["link"]%>"><h2><%=@video["title"]%></h2></a>

<iframe width="560" height="315" src="//www.youtube.com/embed/<%=@yt_embed%>?rel=0" frameborder="0" allowfullscreen></iframe>

<p>Genre: <%=@video["genre"]%></p>
<p>Description: <%=@video["description"]%></p>
<a href="<%=@video["link"]%>"> </a>

<div class="controls">
    <a href="/videos/<%=@video["id"]%>/delete">Delete</a>
    <a href="/videos/<%=@video["id"]%>/edit">Edit</a>
</div>