<!DOCTYPE html>
<html>
<head>
  <title>FlickrApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><a href="<%= root_path %>">Flickr</a></h3>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Look. Pictures.</h1>
            <%= yield %>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Keep scrolling...there's more!</p>
            </div>
          </div>

        </div>

      </div>

    </div>

  

</body>
</html>