<!-- Content Section -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="section-heading"><%= @movie.title %></h1>
        <p class="section-paragraph">Released: <%= @movie.released %></p>
        <p class="section-paragraph">Genre: <%= @movie.genre %></p>
        <p class="section-paragraph">Director: <%= @movie.director %></p>
        <img src= <%= @movie.poster %> >
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>