<form action="<%= mountain_path(@mountain.id) %>" method="post">
  <label for="name">Name: </label>
  <input type="text" name="mountain[name]" autofocus value="<%= @mountain.name %>">

  <label for="image">Image: </label>
  <input type="url" id="image" name="mountain[image]" value="<%= @mountain.image %>">

  <label for="height">Height: </label>
  <input type="number" id="height" name="mountain[height]" value="<%= @mountain.height %>">

  <label for="country">Country: </label>
  <input type="text" id="country" name="mountain[country]" value="<%= @mountain.country %>">

  <p><button>Edit Mountain</button></p>
</form>