<form action="multiple">

        <p>
            <label for="title">Movie  </label>
            <input type="search" name="title" id="title" placeholder="Enter the movie title">
        </p>
    
    <button>Go get em...</button>    
</form>    

<img src="<%= @poster_image %>">

<div class="output">
    
    <p><h2><%= @title %></h2></p>
    <p><%= @director %></p>
    <p><%= @year %></p>
    <p><%= @imdbrating %></p>

</div>



