<%= form_for @book do |f| %>
  <%= f.label :title, :class => "sm-col-4" %>
  <%= f.text_field :title, :autofocus => true, :class => "block full-width field-light" %>

  <%= f.label :year %>
  <%= f.text_field :year, :class => "block full-width field-light" %>

  <%= f.label :genre %>
  <%= f.text_field :genre, :class => "block full-width field-light" %>

  <%= f.label :image %>
  <%= f.url_field :image, :class => "block full-width field-light" %>

  <br>

  <p><%= f.label :author_id %>
  <%= f.select :author_id, Author.all.map { |author| [author.name, author.id]}, {:include_blank => true}, :class => "block full-width field-light" %></p>

  <%= f.submit :class => "button-blue" %>
<% end %>