<h1>Authors</h1>

<% @authors.each do |author| %>
  <div>
    <p><%= image_tag(author.image, :class => 'thumb') %></p>
    <p><strong>Name:</strong> <%= link_to(author.name, author) %></p>
    <p><strong>Nationality:</strong> <%= author.nationality %></p>
    <p><strong>Date of Birth:</strong> <%= author.dob.strftime('%B, %e, %Y') %></p>
    <p><strong>Bio:</strong> <%= author.bio %></p>
  </div>
<% end %>