<form action="<%= ocean_path(@ocean.id)%>" method="post">
    
    <label for="name">Name: </label>
    <input id="name" name="ocean[name]" value="<%=@ocean.name%>" autofocus>

    <label for="image">Image: </label>
    <input type="url" id="image" name="ocean[image]" value="<%=@ocean.image%>">

    <label for="deepest_point">Deepest point: </label>
    <input type="number" id="deepest_point" name="ocean[deepest_point]" value="<%=@ocean.deepest_point%>">

    <label for="average_depth">Average depth: </label>
    <input type="number" id="average_depth" name="ocean[average_depth]" value="<%=@ocean.average_depth%>">

    <label for="area">Area: </label>
    <input type="number" id="area" name="ocean[area]" value="<%=@ocean.area%>">

    <button>Edit ocean!</button>

</form>

<!-- we put the names like planet[moons] for the prupose of viewing int he controlelr -->