<h2><%= @butterfly["name"] %></h2>
<p>Family: <em><%= @butterfly["family"] %></em></p>
<img class="image" src="<%= @butterfly["image"] %>">

<div class="controls">
  <a href="/butterflies/<%= @butterfly["id"] %>/delete">Delete</a>
  <a href="/butterflies/<%= @butterfly["id"] %>/edit">Edit</a>
</div>
