<div class="results">

    <a href="/"><h1 class="title">MTA 2.0</h1></a>

    <div class="results-container">
        <% if (@total_stops + 1) > 1 %>
            <p class="stops">Your destination is <%=@total_stops + 1 %> stops away:</p>
            <ol>
                <%if @line_on == @line_off %>
                    <%@stations.each do |station|%>
                        <li class="<%=station.downcase.tr(" ", "-")%>"><%=station%></li>
                    <%end%>
                <%else%>
                     <%@stations_before_changeover_arr.each do |station|%>
                        <li class="<%=station.downcase.tr(" ", "-")%>"><%=station%></li>
                    <%end%>
                    <%@stations_after_changeover_arr.each do |station|%>
                        <li class="<%=station.downcase.tr(" ", "-")%>"><%=station%></li>
                    <%end%>
                <%end%>
            </ol>
         <%else%>
            <p>You're already at your destination!</p>
        <% end %>
        <% if @changeover %>
            <p>You need to change lines at Union Square.</p>
        <% end %>
    </div>

    <div class="map">
        <% $subway_lines.keys.each do |line| %>
            <div class="line_and_station <%=line%>">
            <h2>Line <%=line%></h2>
            <% $subway_lines[line].flatten.each do |station| %>
                <div class="line <%=line%>">
                    <div class="station <%=station.downcase.tr(" ", "-")%>"><p><%=station%></p></div>
                </div>
            <%end%>
            </div>
        <%end%>
    </div>

</div>

