<!DOCTYPE html>
<html>
    <head>
      <title>Watery</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    </head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li><%= link_to('Oceans', oceans_path) %></li>
                <li><%= link_to('New Ocean', oceans_new_path) %></li>
            </ul>
        </nav>
    <%= yield %>
    </div>
</body>
</html>
