<%= form_for @work do |f| %>
  <div class="form">
    <%= f.label :title %>
    <%= f.text_field :title, :autofocus => true %>
  </div>
  <div class="form">
    <%= f.label :year %>
    <%= f.text_field :year %>
  </div>
  <div class="form">
    <%= f.label :medium %>
    <%= f.text_field :medium %>
  </div>
  <div class="form">
    <%= f.label :style %>
    <%= f.text_field :style %>
  </div>
  <div class="form">
    <%= f.label :image %>
    <%= f.url_field :image %>
  </div>
  <div class="form">
    <%= f.label :artist_id %>
    <%= f.select :artist_id, Artist.all.map { |artist| [artist.name, artist.id] }, :include_blank => true %>
    
    <%= f.submit %>
<% end %>
