<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <%= image_tag('classoto.png', class: "logo_header", size:"1016x280") %>
        <p class="lead">Tired off yet another "introduce yourself discussion board"? Well then, do something about it! Jump onto Classoto, upload a selfie and join your classmates on your very own interactive Class(Ph)oto.</p>
        <p><a class="btn btn-primary btn-lg" href="<%= new_user_path %>" role="button">Sign Up</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Quick</h2>
          <p><%= image_tag('classoto_logo.png', class: "logo", size:"300x300") %></p>
          <p><a class="btn btn-default" href="<%= new_user_path %>" role="button">Sign Up</a></p>
        </div>
        <div class="col-md-4">
          <h2>Easy</h2>
          <p><%= image_tag('classoto_logo.png', class: "logo", size:"300x300") %></p>
          <p><a class="btn btn-default" href="<%= new_user_path %>" role="button">Sign Up</a></p>
       </div>
        <div class="col-md-4">
          <h2>Fun</h2>
          <p><%= image_tag('classoto_logo.png', class: "logo", size:"300x300") %></p>
          <p><a class="btn btn-default" href="<%= new_user_path %>" role="button">Sign Up</a></p>
        </div>
      </div>