%h1 Your Class Photo

- @users.in_groups_of(3) do |user|
  .row
    - user.compact.each do |user|
      .col-md-4
        .user_index
          = link_to(image_tag(user.image), user)
          %h2= user.name
          %h4
            %li
              ID: #{user.id}
            %li
              Cohort ID: #{user.cohort_id}
            %li
              Admin: #{user.is_admin}
            %li
              Updated: #{user.updated_at}
            / %li
            /   Year: #{@user.cohorts.cohort}

/ - if user.cohort.any?
/   %li
/     Cohort: #{cohort.year}