<h2>Your Trip Details</h2>

<p><%= @message %></p>
<p>From: <%= @from_station %> Station</p>
<p>To: <%= @to_station %> Station</p>
<p>Distance: <%= @total_stops %> Stop(s)</p>

<div class="new_trip"?>
  <%= erb :menu, :layout => false %>
</div>