<h1 class="section-heading"><%= @movie_data["Title"] %></h1>
<p class="section-paragraph">Released: <%= @movie_data["Released"] %></p>
<p class="section-paragraph">Runtime: <%= @movie_data["Runtime"] %></p>
<p class="section-paragraph">Genre: <%= @movie_data["Genre"] %></p>
<p class="section-paragraph">Director: <%= @movie_data["Director"] %></p>
<p class="section-paragraph">imdbRating: <%= @movie_data["imdbRating"] %></p>
<img src= <%= @movie_data["Poster"] %> >