<!DOCTYPE html>
<html>
<head>
  <title>MountainsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <ul>
    <li><%= link_to('Mountains', mountains_path) %></li>
    <li><%= link_to('New Mountain', mountains_new_path) %></li>
  </ul>
</nav>
<%= yield %>

</body>
</html>
